<!-- Testing Shits -->
<div class="container">
  <br /><br />
  <span>
    <input type="file" id="selector" />
    <button mat-raised-button color="primary" onclick="upload()">Upload</button>
  </span>

  <div id="status">No uploads</div>
  <!-- Testing Shits -->
  <div>
    <mat-table [dataSource]="dataSource">
      <ng-container matColumnDef="name">
        <mat-header-cell *matHeaderCellDef> Name </mat-header-cell>
        <mat-cell *matCellDef="let files"
          ><button mat-button (click)="downloadlink(files.name)">
            {{ files.name }}
          </button></mat-cell
        >
      </ng-container>
<!--      <ng-container matColumnDef="etag">-->
<!--        <mat-header-cell *matHeaderCellDef> File ID </mat-header-cell>-->
<!--        <mat-cell *matCellDef="let files"> {{ files.etag }} </mat-cell>-->
<!--      </ng-container>-->
      <ng-container matColumnDef="size">
        <mat-header-cell *matHeaderCellDef> Size </mat-header-cell>
        <mat-cell *matCellDef="let files"> {{ files.size }} </mat-cell>
      </ng-container>
<!--      <ng-container matColumnDef="lastModified">-->
<!--        <mat-header-cell *matHeaderCellDef> Last Modified </mat-header-cell>-->
<!--        <mat-cell *matCellDef="let files"> {{ files.lastModified }} </mat-cell>-->
<!--      </ng-container>-->
      <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
      <mat-row *matRowDef="let row; columns: displayedColumns"></mat-row>
    </mat-table>
  </div>
</div>
